<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">Supervision</h3>
              <p class="card-category">Supervision de la chambre
            
              </p>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                      <h4 class="card-title">Chambre</h4>
                      <div class="alert alert-info">
                          <span>Visualisation de temperature</span>
                      </div>
                      <div >
                        <span><iframe src="https://stem.ubidots.com/app/dashboards/public/widget/b2anAhZqM8Zl08OSPL1O1Ah-HzisnQvUmspuy51NumA" width="100%" height="600"></iframe></span>
                    </div>
                 
                 
                  </div>
                  <div class="col-md-6">
                      <h4 class="card-title">Visualisation d'humidité</h4>
                      <div>
                        <div class="alert alert-info">
                            <span>Visualisation de humidité</span>
                        </div>
                          <span>
                            <span><iframe src="https://stem.ubidots.com/app/dashboards/public/widget/27YKAsqHbJDHRHjIyLijUY1xh2ob7RhUmMPOvh5UQgk" seamless width="100%" height="600"></iframe></span>
                        </span>
                      </div>
                    
                     
                  </div>
              </div>
          </div>
        
      </div>
  </div>
</div>
